.App {
  text-align: center;
}

.App p {
  font-size: 20px;
}

.App strong {
  font-weight: 600;
  color: #68ce57;
}

.App .price {
  color: #68ce57;
  font-size: 16px;
  font-weight: 600;
}

.item-desc{
  font-size: 16px !important;
  margin-bottom: 0 !important;
  color: lightgray;
}

.small {
  font-size: 16px;
}

.App p.description {
  font-size: 18px;
}

.App-logo {
  height: 100px;
  pointer-events: none;
  margin-bottom: 20px;
}

.App-header {
  background-color: #313256;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.has-icons svg {
  font-size: 100px;
  padding: 25px;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background-color: #c42257;
}
.MuiRadio-root svg {
  font-size: inherit;
  padding: inherit;
  border-radius: inherit;
  margin-bottom: inherit;
  transition: inherit;
  box-shadow: inherit;
  background-color: inherit;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.App .MuiRadio-root {
	color: rgba(255, 255, 255, 0.9);
}

.has-icons .row > div {
  margin: 30px 0;
}

.has-icons .row div > svg:hover,
.has-icons .row div > a:hover {
  cursor: pointer;
}

.has-icons .row > div svg:hover,
.App .form-checkbox .MuiIconButton-label:hover svg {
  background-color: goldenrod;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.App h1{
  font-size: 33px;
}

.App .MuiOutlinedInput-notchedOutline {
	border-color: rgba(255, 255, 255, 0.4);
}

.App .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
	border-color: rgba(255, 255, 255, 0.87);
}

.App .MuiInputBase-root {
	color: rgba(255, 255, 255, 0.87);
	cursor: text;
	display: inline-flex;
	position: relative;
	font-size: 1rem;
	box-sizing: border-box;
	align-items: center;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	line-height: 1.1875em;
}

.App .MuiFormLabel-root {
	color: rgba(255, 255, 255, 0.54);
	padding: 0;
	font-size: 1rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 0.00938em;
}

.App .MuiFormLabel-root.Mui-focused {
  color: #c42257;
}

.App .MuiOutlinedInput-notchedOutline:focus {
	border-color: #c42257;
}

.App .MuiCheckbox-colorSecondary.Mui-checked {
	color: white;
}

.App .MuiCheckbox-root {
	color: rgba(255, 255, 255, 1);
}

.App .form-checkbox svg {
	width: 0.6em;
	height: 0.6em;
  padding: 12px;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.App .form-checkbox.Mui-checked svg,
.App .form-checkbox.Mui-checked:hover svg {
  background: #68ce57;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-85.MuiCheckbox-root.MuiCheckbox-colorSecondary.form-checkbox.MuiIconButton-colorSecondary {
	margin: -15px;
}