.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
  margin-bottom: 20px;
}

.App-header {
  background-color: #313256;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.has-icons svg {
  font-size: 100px;
  padding: 25px;
  border-radius: 50%;
  background-color: #fc0657;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
.has-icons .row > div:hover {
  cursor: pointer;
}
.has-icons .row > div:hover svg, .has-icons .row > div:hover p {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}